<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahía Comunicación Estratégica</title>
    <meta name="description" content="Empresa de comunicación y marketing">
    <meta name="keywords" content="comunicacion, comunicación esratégica, marketing, redes sociales, community management, prensa">
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css" media="screen and (min-width: 250px)">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/querys.css" media="screen and (min-width: 250px)">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/imagenes/ancla.png">
    <script src="https://kit.fontawesome.com/ff838b2754.js" crossorigin="anonymous"></script>
</head>
<body>


<!--------------------HEADER-------------------->


    <header>
        <nav>
            <div class="logo-container">
                <a href="{%url 'inicio'%}"><img src="../static/imagenes/Isologotipo-Horizontal.png" class="logo"></a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu"> 
                <li><a href="{%url 'inicio'%}">inicio</a></li>
                <li><a href="{%url 'about'%}">about</a></li>
                <li class="activeli"><a class="active" href="{%url 'servicios'%}">servicios</a></li>
                <li><a href="{%url 'contactanos'%}">contactanos</a></li>
            </ul>
        </nav>
        <div class="main-header_servicios">
            <h1>NUESTROS&nbsp;</h1><span>Servicios</span>
        </div>

        <!--------------------SERVICIOS-------------------->
          <div class="fondo-servicios">
              <p class="texto-servicios">
                Dirigimos proyectos de comunicación, lo que significa que podemos llevar adelante todas las ideas que quieras comenzar a difundir.<br>
                Cada proyecto/cliente nos presenta nuevos desafíos creativos y eso es lo que más disfrutamos.<br>
                ¿Por dónde comenzamos? Elegí el próximo destino de tu marca:              
              </p>


              <div class="megacontainer">
                  <div class="slide-container swiper">
                    <div class="slide-content">
                      <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/sombrerito.png" class="card-img card-img1">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model.servicio}}</h3>
                            <p class="descripcion">{{model.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>

                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/aliados.png" class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model2.servicio}}</h3>
                            <p class="descripcion">{{model2.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal2">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/postal.png" class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model3.servicio}}</h3>
                            <p class="descripcion">{{model3.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal3">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/botella.png " class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model4.servicio}}</h3>
                            <p class="descripcion">{{model4.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal4">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/mapa.png" class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model5.servicio}}</h3>
                            <p class="descripcion">{{model5.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal5">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span> 

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/salvavidas.png" class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model6.servicio}}</h3>
                            <p class="descripcion">{{model6.descripcion}}</p>

                            <div class="boton-modal">
                              <label for="btn-modal6">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>
                        <div class="card swiper-slide">
                          <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              <img src="../static/imagenes/dibujitos_about/coso.png" class="card-img">
                            </div>

                          </div>

                          <div class="card-content">
                            <h3 class="titulo">{{model7.servicio}}</h3>
                            <p class="descripcion">{{model7.descripcion}}</p>


                            <div class="boton-modal">
                              <label for="btn-modal7">
                                Ver +
                              </label>
                            </div>

                          </div>

                        </div>


                        </div>
                      </div>
                      <div class="buttons__container">
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                      </div>
                      <div class="swiper-pagination"></div>

                    </div>
                  </div>    

              <!--------------------VENTANAS MODALES-------------------->


              <input type="checkbox" id="btn-modal">
              <div class="container-modal">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model.servicio}}</h3>
                    <p>{{model.descripcion_larga}}</p>
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>
              
              <input type="checkbox" id="btn-modal2">
              <div class="container-modal2">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal2">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model2.servicio}}</h3>
                    <p>{{model2.descripcion_larga}}</p>
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>

              <input type="checkbox" id="btn-modal3">
              <div class="container-modal3">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal3">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model3.servicio}}</h3>
                    <p>{{model3.descripcion_larga}}</p>
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>

              <input type="checkbox" id="btn-modal4">
              <div class="container-modal4">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal4">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model4.servicio}}</h3>
                    <p>{{model4.descripcion_larga}}</p>                    
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>

              <input type="checkbox" id="btn-modal5">
              <div class="container-modal5">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal5">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model5.servicio}}</h3>
                    <p>{{model5.descripcion_larga}}
                    </p>
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>

              <input type="checkbox" id="btn-modal6">
              <div class="container-modal6">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal6">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model6.servicio}}</h3>
                    <p>{{model6.descripcion_larga}}
                      </p>                    
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>

              <input type="checkbox" id="btn-modal7">
              <div class="container-modal7">
                <div class="content-modal">
                  <div class="btn-cerrar">
                    <label for="btn-modal7">X</label>
                  </div>
                  <div class="modal-textos">
                    <h3>{{model7.servicio}}</h3>
                    <p>{{model7.descripcion_larga}}
                    </p>
                  </div>
                  <div class="button-container_reservar">
                    <a href="{%url 'contactanos'%}"><button>Reservar reunión</button></a>
                  </div>
                </div>
              </div>


              <!--------------------contactanos-------------------->

              <div class="button-container_contactanos">
                <a href="{%url 'contactanos'%}"><button>CONTACTANOS</button></a>
              </div>

          </div>




            <!--------------------FOOTER-------------------->

    <footer>
      <div class="footer">
              <div class="redes">
                  <h5>Seguínos en nuestras <br> redes sociales:</h5>
                  <div class="red-social">
                      <a href="https://www.facebook.com/holabahia.ce/" target="_blank"  class="fa fa-facebook"></a>
                      <a href="https://www.instagram.com/bahia.ce/?hl=es-la" target="_blank" class="fa fa-instagram"></a>
                      <a href="https://ar.linkedin.com/company/bah%C3%ADa-ce?trk=public_profile_topcard-current-company" target="_blank" class="fa fa-linkedin"></a>
                  </div>
              </div>
              <div class="pagina">
                    <p>Ingresá para saber más acerca de las creadoras de esta web:</p>
                    <a href="#">Click aquí</a>
              </div>
              <div class="menu">
                  <li><a class="menu-footer" href="{%url 'inicio'%}"> inicio<</a></li>
                  <li><a class="menu-footer" href="{%url 'about'%}"> about<</a></li>
                  <li><a class="menu-footer" href="{%url 'servicios'%}"> servicios<</a></li>
                  <li><a class="menu-footer" href="{%url 'contactanos'%}"> contactanos<</a></li>
              </div>
      </div>
      <div class="fondo">
          <a href="{%url 'inicio'%}"><img src="../static/imagenes/Isologotipo-Horizontal-Blanco.png"></a>
          <span>2022 Bahía Comunicación Estratégica. <br class="brno">Todos los derechos reservados.
          </span>
      </div>

  </footer>     
    
    </header>

</body>
<script src="../static/js/swiper-bundle.min.js"></script>
<script src="../static/js/servicios.js"></script>
</html>