
/* ----------------------CELU CHIQUITO-------------------- */

@media (min-width: 250px) and (max-width: 316px){

    /* ----------------------INICIO-------------------- */

    .pagination-item {
        width: 1rem;
        height: 1rem;
        margin-bottom: 0;
        border: 0.1rem solid white;
    }


    .ola-container {
        width: 100%;
        height: 15.8rem;
        position: absolute;
        z-index: 2;
        top: 70%;
    }

    .fondo-inicio1 img {
        width: 20rem;
        height: 16.7rem;
        margin-top: 0;
    }


    .texto-inicio h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .texto-inicio p {
        font-size: 1rem;
    }

    .ola2-container {
        margin-top: 63rem;
    }

    .arena {
        height: 43rem;
    }

    .arena h3 {
        margin-top: 10rem;
        font-size: 4rem;
    }
    
    .subrayado {
        margin-bottom: 3rem;
        width: 18rem;
    }

    .swiper-slide span {
        font-size: 1.4rem;
    }


    /* ----------------------ABOUT-------------------- */

    .arena-about img {
        margin-top: 4rem;
        width: 20rem;
        height: 20rem;
    }

    .info-tofi img {
        top: 7rem;
        right: 6rem;
    }
    
    .arena-about {
        height: 60rem;
    }

    .ola-about {
        margin-top: 67rem;
    }

    .texto-about {
        font-size: 1rem;
    }

    .texto1-about {
        bottom: 18rem;
        left: 5rem;
        height: 6rem;
    }
    
    .texto2-about {
        width: 15rem;
        height: 9rem;
        bottom: 17.3rem;
        left: 10rem;
    }
    
    .texto3-about {
        height: 10rem;
        width: 16rem;
        bottom: 16.5rem;
        left: 9rem;
    }

    /* ----------------------CONTACTO-------------------- */

    .formulario {
       height: 96.2rem;
    }

    /* ----------------------FOOTER-------------------- */

    .fondo {
       height: 15rem;
       flex-direction: column;
       align-items: center;
       text-align: center;
       justify-content: center;
    }

    .fondo img {
        margin: 0;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }
    
    .fondo span {
        margin: 0;
    }

    .texto-form {
        font-size: 2.5rem;
    }

    ::placeholder { 
        font-size: 1.2rem;
    }


}

/* ----------------------CELU-------------------- */


@media (min-width: 317px) and (max-width: 372px){

    /* ----------------------INICIO-------------------- */

    .ola-container {
        top: 73%;
    }

    .pagination-item {
        width: 1rem;
        height: 1rem;
        margin-bottom: 0;
        border: 0.15rem solid white;
    }

    .fondo-inicio1 img {
        width: 27rem;
        height: 22.4rem;
    }
    
    .texto-inicio p {
        font-size: 1rem;
    }
    
    .texto-inicio h2 {
        font-size: 2.6rem;
    }

    .arena {
        height: 50rem;
    }
    
    .testimonios-megacontainer {
        margin-top: 4rem;
    }

    /* ----------------------CONTACTO-------------------- */

    .formulario {
        height: 96.2rem;
     }

    .texto-form {
        font-size: 2.5rem;
    }

    /* ----------------------FOOTER-------------------- */

    .fondo {
        height: 15rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
 
     .fondo img {
         margin: 0;
         margin-bottom: 2rem;
         margin-right: 1rem;
    }
     
     .fondo span {
         margin: 0;
    }

    ::placeholder { 
        font-size: 1.2rem;
    } 

}

/* ----------------------CELU 2-------------------- */


@media (min-width: 373px) and (max-width: 511px){

/* ----------------------INICIO-------------------- */

    .fondo-inicio1 img {
        width: 27rem;
        height: 22.4rem;
    }

    .arena {
        height: 50rem;
    }
    
    .testimonios-megacontainer {
        margin-top: 4rem;
    }
     /* ----------------------CONTACTO-------------------- */

    .formulario {
        height: 90rem;
     }

     .fondo {
         height: 15rem;
         flex-direction: column;
         align-items: center;
         text-align: center;
         justify-content: center;
     }

     .fondo img  {
         margin-left: 0;
         margin-right: 1rem;
         margin-bottom: 2rem;
     }

     ::placeholder { 
        font-size: 1.5rem;
    }
}

/* ----------------------TABLET-------------------- */

@media (min-width: 512px) and (max-width: 622px){

    /* ----------------------INICIO-------------------- */

    .ola2-container {
        background-image: url(../Fotos/Elementos_Visuales/olainicio-pc.png);
    }

    .fondo-inicio1 img {
        margin-top: 3rem;
    }

    .arena {
        height: 50rem;
    }
    
    .testimonios-megacontainer {
        margin-top: 4rem;
    }

    .formulario{
        height: 87rem;
    }


    /* ----------------------FOOTER-------------------- */

    .pagina {
        display: inline;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 23rem;
        height: 8.5rem;
        border: 0.15rem solid white;
     }

     .pagina a {
        color: white;
        font-size: 1.35rem;
        font-weight: bold;
     }

     .pagina p {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.35rem;
     }

     .menu {
         width: 9rem;
     }

     .fondo {
         height: 10rem;
         justify-content: center;
         align-items: center;
     }


}

/* ----------------------TABLET 2-------------------- */

@media (min-width: 623px) and (max-width: 768px){

    /* ----------------------INICIO-------------------- */

    .ola2-container {
        background-image: url(../Fotos/Elementos_Visuales/olainicio-pc.png);
    }

    .testimonios-megacontainer {
        margin-top: 4rem;
    }
    
    .arena {
        height: 50rem;
    }

    /* ----------------------CONTACTO-------------------- */

    .formulario {
        height: 85rem;
     }

     /* ----------------------FOOTER-------------------- */

     .pagina {
        display: inline;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 28rem;
        height: 8.5rem;
        border: 0.15rem solid white;
     }

     .pagina a {
        color: white;
        font-size: 1.35rem;
        font-weight: bold;
     }

     .pagina p {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.35rem;
     }

     .menu {
         width: 10rem;     
    }

    .fondo {
        height: 10rem;
        justify-content: center;
        align-items: center;
    }


}


/* ----------------------COMPUTADORA 1-------------------- */


@media (min-width: 768px) and (max-width: 1024px){


    /*----------------------HEADER----------------------*/

    .logo {
        margin-left: 1rem;
        width: 16rem;
    }
    
    nav{
        height: 8rem;
    }
    
    .bar-btn {
        display: none;
    }
    
    .nav-menu {
        position: relative;
        height: 10rem;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
    }
    
    .nav-menu li {
        display: inline-block;
        line-height: 10rem;
        margin: 0 2rem;
        transition: none;
    }
    
    .nav-menu li a {
        font-size: 2.5rem;
        color: #FF997B;
    }
    
    .nav-menu li.activeli {
        text-align: center;
        background-image: url(./Vectorsi.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position:relative;
        top:0rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    
    .nav-menu li a.active {
        color: #FFFFFF;
        
    }

    .nav-menu li a:hover {
        color: #666666;
    }
    
    /*---------------------- INICIO ----------------------*/
    

    .pagination-item {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0;
        border: 0.2rem solid white;
    }
    
    .ola-container2 {
        display: inline-block;
        width: 100%;
        height: 15.8rem;
        position: absolute;
        z-index: 2;
        top: 85%;
    }
    
    .ola-container {
        display: none;
    }

    .ola2-container {
        background-image: url(../Fotos/Elementos_Visuales/olainicio-pc.png);
        height: 23rem;
    }

    .fondo-inicio1 {
        flex-direction: row;
    }

    .fondo-inicio1 img {
        margin-left: 3rem;
        width: 40rem;
        height: 34rem;
    }

    .texto-inicio p {
        font-size: 1.4rem;
    }
    
    .texto-inicio h2 {
        font-size: 3.1rem;
    }

    .arena {
        height: 60rem;
    }

    .arena h3 {
        margin-top: 17rem;
        font-size: 6.5rem;
    }

    .subrayado {
        width: 30rem;
        min-height: 2%;
    }

    .testimonios-megacontainer {
        margin-top: 6rem;
    }

    .estrella {
        display: inline-block;
        position: relative;
        bottom: 33rem;
        right: 25rem;
    }

    .estrella img {
        height: 11rem;
        width: 12rem;
    }

    .mapas {
        display: inline-block;
        position: relative;
        bottom: 43rem;
        left: 25rem;
    }

    .mapas img {
        height: 10rem;
        width: 11rem;
    }

    /*---------------------- ABOUT ----------------------*/
    
    .main-header_about {
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-header_about h1 {
        font-size: 7rem;
    }
    
    .main-header_about span {
        font-size: 7rem;
    }
    
    
    /*---------------------- SERVICIOS ----------------------*/
    
    .main-header_servicios {
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-header_servicios h1 {
        font-size: 7rem;
    }
    
    .main-header_servicios span {
        font-size: 7rem;
    }
    
    .texto-servicios {
        font-size: 1.7rem;
    }
    
    /*---------------------- CONTACTO ----------------------*/
    
    .brno {display: none;}
    
    
    form {
        text-align: left;
        margin-top: 1.5rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }
    
    .formulario {
        width: 80%;
        height: 93rem;
    }
    
    .main-header_contacto {
        background-image: url(./Rectangle28.png);
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-header_contacto h1 {
        font-size: 7rem;
    }
    
    .fondo-contacto {
        background-image: url(./fondoform.png);
    }
    
    
    .enviar {
        margin-top: 3rem;
        font-size: 2.2rem;
        width: 15rem;
        cursor: pointer;
    }
    
    .enviar:hover {
        background-color: #2E9C9D;
        border-color: #2E9C9D;
        color: white;
        box-shadow: 0px -1px 23px 9px rgba(255,255,255,1);
    }
    
    /*------------------------- FOOTER -------------------------*/
    
    .redes {
        height: 13rem;
        width: 40%;
    }
    
    .redes h5 {
        font-size: 1.4rem;
    }
    
    .red-social a {
        display: inline-block;
        text-decoration: none;
        font-size: 2.3rem;
        line-height: 4.5rem;
        color: white;
        margin-right: 1rem;
        text-align: center;
        width: 2rem
    }
    
    
    .menu {
        height: 13rem;
        width: 30%;
    }
    
    .fondo {
        height: 15rem;
        flex-direction: column;
        border-right: 0.1rem dashed white;
        border-top: none;
        justify-content: center;
        align-items: flex-start;
    }
    
    .fondo img {
        width: 17.5rem;
        height: 6rem;
        margin-bottom: 0.9rem;
    }
    
    .fondo span {
        font-size: 1.3rem;
        margin-left: 2rem;   
    }
    
    footer {
        display: flex;
        flex-direction: row-reverse;
    }

    .brno {
        display: inline-block;
    }
}


/* ----------------------COMPUTADORA 2-------------------- */

@media (min-width: 1024px) {
   
    /*----------------------HEADER----------------------*/

    .logo {
        margin-left: 1rem;
        width: 16rem;
    }

    nav{
        height: 8rem;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 10rem;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 10rem;
        margin: 0 2rem;
        transition: none;
    }

    .nav-menu li a {
        font-size: 2.5rem;
        color: #FF997B;
    }

    .nav-menu li.activeli {
        text-align: center;
        background-image: url(./Vectorsi.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position:relative;
        top:0rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }


    .nav-menu li a.active {
        color: #FFFFFF;
    }

    .nav-menu li a:hover {
        color: #666666;
    }

    /*---------------------- INICIO ----------------------*/


    .pagination-item {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0;
        border: 0.2rem solid white;
    }

    .ola-container2 {
        display: inline-block;
        width: 100%;
        height: 15.8rem;
        position: absolute;
        z-index: 2;
        top: 85%;
    }

    .ola2-container {
        background-image: url(../Fotos/Elementos_Visuales/olainicio-pc.png);
        height: 40rem;
        margin-top: 97.5rem;
    }

    .texto-inicio {
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 3rem;
    }

    .ola-container {
        display: none;
    }

    .fondo-inicio1 {
        flex-direction: row;
        padding-right: 7rem;
        padding-left: 7rem;
    }

    .fondo-inicio1 img {
        margin-left: 3rem;
        width: 50rem;
        height: 42rem;
    }

    .texto-inicio p {
        font-size: 1.9rem;
    }
    
    .texto-inicio h2 {
        font-size: 3.5rem;
    }

    .arena h3 {
        margin-top: 37rem;
        font-size: 8rem;
    }

    .subrayado {
        width: 36rem;
        min-height: 2%;
    }

    .arena {
        height: 80rem;
    }

    .testimonios-megacontainer {
        margin-top: 6rem;
    }

    .estrella {
        display: inline-block;
        position: relative;
        bottom: 33rem;
        right: 35rem;
    }

    .estrella img {
        height: 11rem;
        width: 12rem;
    }

    .mapas {
        display: inline-block;
        position: relative;
        bottom: 45rem;
        left: 35rem;
    }

    .mapas img {
        height: 10rem;
        width: 11rem;
    }

    /*---------------------- ABOUT ----------------------*/

    .main-header_about {
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-header_about h1 {
        font-size: 7rem;
    }

    .main-header_about span {
        font-size: 7rem;
    }


    /*---------------------- SERVICIOS ----------------------*/

    .main-header_servicios {
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-header_servicios h1 {
        font-size: 7rem;
    }

    .main-header_servicios span {
        font-size: 7rem;
    }

    .texto-servicios {
        font-size: 1.7rem;
    }

    /*---------------------- CONTACTO ----------------------*/

    .brno {display: none;}


    form {
        text-align: left;
        margin-top: 1.5rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .formulario {
        width: 80%;
        height: 82rem;
    }

    .main-header_contacto {
        background-image: url(./Rectangle28.png);
        height: 19rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-header_contacto h1 {
        font-size: 7rem;
    }

    .fondo-contacto {
        background-image: url(./fondoform.png);
    }

    .fondo span {
        font-size: 3rem;
    }


    .enviar {
        margin-top: 3rem;
        font-size: 2.2rem;
        width: 15rem;
        cursor: pointer;
    }

    .enviar:hover {
        background-color: #2E9C9D;
        border-color: #2E9C9D;
        color: white;
        box-shadow: 0px -1px 23px 9px rgba(255,255,255,1);
    }

    ::placeholder {
        font-size: 1.4rem;
    }


    /*------------------------- FOOTER -------------------------*/

    .redes {
        height: 13rem;
        margin-right: 1rem;
    }

    .redes h5 {
        font-size: 1.4rem;
    }

    .red-social a {
        display: inline-block;
        text-decoration: none;
        font-size: 2.3rem;
        line-height: 4.5rem;
        color: white;
        margin-right: 1rem;
        text-align: center;
        width: 2rem
    }


    .menu {
        height: 13rem;
    }

    .fondo {
        height: 15rem;
        flex-direction: column;
        border-right: 0.1rem solid white;
        border-top: none;
    }

    .fondo img {
        margin-left: 2rem;
        width: 17.5rem;
        height: 6rem;
        margin-bottom: 1rem;
    }

    .fondo span {
        margin-left: 3rem;
        font-size: 1.3rem;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
    }

    .pagina {
        display: inline;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 30.8rem;
        height: 8.5rem;
        border: 0.15rem solid white;
        margin-left: 2rem;
    }

    .pagina a {
        color: white;
        font-size: 1.35rem;
        font-weight: bold;
    }

    .pagina p {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.35rem;
    }
    

}