<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahía Comunicación Estratégica</title>
    <meta name="description" content="Empresa de comunicación y marketing">
    <meta name="keywords" content="comunicacion, comunicación esratégica, marketing, redes sociales, community management, prensa">
    <link rel="stylesheet" type="text/css" href="../static/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/querys.css" media="screen and (min-width: 250px)">
    <script src="../static/scrollreveal.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/ancla.png">
    <script src="https://kit.fontawesome.com/ff838b2754.js" crossorigin="anonymous"></script>
</head>
<body>


<!--------------------HEADER-------------------->


    <header>
        <nav>
                <div class="logo-container">
                    <a href="{%url 'inicio'%}"><img src="../static/Isologotipo-Horizontal.png" class="logo"></a>
                </div>
                <input type="checkbox" id="check">
                <label for="check" class="bar-btn">
                    <i class="fas fa-bars"></i>
                </label>          
            <ul class="nav-menu">
                <div class="vector-container">
                    <img src="../static/Vector.png" class="vector">
                </div>
                <li><a href="{%url 'inicio'%}">inicio</a></li>
                <li><a href="{%url 'about'%}">about</a></li>
                <li><a href="{%url 'servicios'%}">servicios</a></li>
                <li class="activeli"><a class="active" href="{%url 'contactanos'%}">contactanos</a></li>
            </ul>
        </nav>

        <!--------------------FORMULARIO-------------------->
   
    <div class="main-header_contacto">
        <h1>CONTACTANOS</h1>
    </div>



    <div class="fondo-contacto">
        <div class="formulario">
            <div class="tit-form">
                <div>
                <p class="texto-form texto-form_1">Elegí el&nbsp;</p><p class="texto-form_2 texto-form">próximo destino&nbsp;</p><br class="brno">
                <p class="texto-form texto-form_3">de tu</p><p class="texto-form texto-form_4">&nbsp;marca</p></div><br>
                <p class="form_enviado">{{form_valid}}</p>
                
            </div>
            <form action="" method="POST"> {% csrf_token %}
                <p>Nombre*</p>
                <input type="text" name="nombre" placeholder="Ej: 'María Pérez'" required maxlength="60" autocomplete="off">
                <p>Teléfono</p>
                <input type="tel" name="telefono" placeholder="Ej: '36240958349'" maxlength="15" autocomplete="off">
                <p>E-mail*</p>
                <input type="email" name="email" placeholder="Ej: 'maryperez@gmail.com'" required maxlength="50" autocomplete="off">
                <p>Mensaje*</p>
                <textarea type="text" name="mensaje" placeholder="Contános cómo podemos ayudarte..." class="mensaje" required maxlength="100"></textarea>
                <p class="op">Elegí una categoría para tu proyecto*</p>
                <div class="radio">
                    <input type="radio" value="Empresa" name="options" id="empresa" required>
                    <label for="empresa">Empresa</label>
                    <input type="radio" value="Asociación/Fundación" name="options" id="asoc_o_fund" required>
                    <label for="asoc_o_fund">Asociación o Fundación</label>
                    <input type="radio" value="Profesional Independiente" name="options" id="ProfInd" required>
                    <label for="ProfInd" class="opin">Profesional Independiente</label>
                </div>
                <div class="button-container">
                    <input type="submit" class="enviar">
                    
                </div> 



            </form>
        </div>

    </div>

            <!--------------------VENTANA MODAL-------------------->


            <!--------------------FOOTER-------------------->

    <footer>
        <div class="footer">
                <div class="redes">
                    <h5>Seguínos en nuestras <br> redes sociales:</h5>
                    <div class="red-social">
                        <a target="_blank" href="https://www.facebook.com/holabahia.ce/" class="fa fa-facebook"></a>
                        <a target="_blank" href="https://www.instagram.com/bahia.ce/?hl=es-la" class="fa fa-instagram"></a>
                        <a target="_blank" href="https://ar.linkedin.com/company/bah%C3%ADa-ce?trk=public_profile_experience-item_profile-section-card_subtitle-click" class="fa fa-linkedin"></a>
                    </div>
                </div>
                <div class="pagina">
                    <p>Ingresá para saber más acerca de las creadoras de esta web:</p>
                    <a href="#">Click aquí</a>
                </div>
                <div class="menu">
                    <li><a class="menu-footer" href="{%url 'inicio'%}"> inicio<</a></li>
                    <li><a class="menu-footer" href="about.html"> about<</a></li>
                    <li><a class="menu-footer" href="{%url 'servicios'%}"> servicios<</a></li>
                    <li><a class="menu-footer" href="{%url 'contactanos'%}"> contactanos<</a></li>
                </div>
        </div>
        <div class="fondo">
            <img src="../static/Isologotipo-Horizontal-Blanco.png">
            <span>2022 Bahía Comunicación Estratégica. <br class="brno">Todos los derechos reservados.
            </span>
        </div>

    </footer>
    </header>
    <script src="../static/index.js"></script>
</body>
</html>